body{
	background: black;
	font-family: "Helvetica Neue";
	font-size: 22px;
	color: white;
	text-align: center;
	width: 900px;
    margin-top: 5px;
    margin: auto;
    width: 85%;


    border: 400px solid pink;
  	border-image-source: url("background.jpg");
  	border-image-slice: 120 10;
  	border-image-repeat: repeat;
  	border-width: 40px 40px 40px 40px;
   }

#title{
  letter-spacing: 15px;
  color:#D3D3D3;

}

