body{
	background: black;
	font-family: "Helvetica Neue";
	font-size: 22px;
	color: white;
	text-align: center;
	width: 900px;
    margin: 50px auto;
    border-image-source: url("background.jpg");
    border-image-slice: 20;
    border-image-width: 20;
    border-image-outset: 1;
    border-image-repeat: repeat;
   }

